@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color: #2B2623;
  background-color: #FFEDE1;
}

html, body {
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

.section-bg {
  @apply bg-white/70 backdrop-blur shadow-sm rounded-2xl;
}

button:disabled {
  @apply opacity-60 cursor-not-allowed;
}